<%= form_for(scafrock) do |f| %>
  <% if scafrock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scafrock.errors.count, "error") %> prohibited this scafrock from being saved:</h2>

      <ul>
      <% scafrock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :name_a %>
	<%= f.text_field :name_a %>
  </div>

	<div class="field", style="float:left">
		<%= f.label 'Hand A' %>
		<%= f.radio_button :hand_a, 1 %><img onClick="handleImageClick('a_1');" src="<%= asset_path "r.png" %>" width="64" height="64">
		<%= f.radio_button :hand_a, 2 %><img onClick="handleImageClick('a_2');" src="<%= asset_path "s.png" %>" width="64" height="64">
		<%= f.radio_button :hand_a, 3 %><img onClick="handleImageClick('a_3');" src="<%= asset_path "p.png" %>" width="64" height="64">
	</div>


<div class="field", style="clear:both">
		<%= f.label :name_b %>
		<%= f.text_field :name_b %>
	</div>

	<div class="field", style="float:left">
		<%= f.label 'Hand B' %>
		<%= f.radio_button :hand_b, 1 %><img onClick="handleImageClick('b_1');" src="<%= asset_path "r.png" %>" width="64" height="64">
		<%= f.radio_button :hand_b, 2 %><img onClick="handleImageClick('b_2');" src="<%= asset_path "s.png" %>" width="64" height="64">
		<%= f.radio_button :hand_b, 3 %><img onClick="handleImageClick('b_3');" src="<%= asset_path "p.png" %>" width="64" height="64">
	</div>

 <!--onClick="document.getElementById('').checked=true"-->

	<div class = "actions", style="clear:both">
		<%= f.submit 'Submit' %>
	</div>

<script>
    function handleImageClick(id) {

			//console.log("I got an event. ", e);
      var el_id = 'scafrock_hand_' + id;
			document.getElementById(el_id).checked=true;
     

		};

</script>

<% end %>
