<%= form_for(scafrock) do |f| %>
  <% if scafrock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scafrock.errors.count, "error") %> prohibited this scafrock from being saved:</h2>

      <ul>
      <% scafrock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :name_a %>
	<%= f.text_field :name_a %>
  </div>

	<div class="field", style="float:left">
		<%= f.label 'Hand A' %>
		<%= f.radio_button :hand_a, 1 %><%= image_tag("r.png", :size => "64x64" ) %>
		<%= f.radio_button :hand_a, 2 %><%= image_tag("s.png", :size => "64x64" ) %>
		<%= f.radio_button :hand_a, 3 %><%= image_tag("p.png", :size => "64x64" ) %>
	</div>


<div class="field", style="clear:both">
		<%= f.label :name_b %>
		<%= f.text_field :name_b %>
	</div>

	<div class="field", style="float:left">
		<%= f.label 'Hand B' %>
		<%= f.label 'b_r' do %>
			<div class="hand", style="float:left">
			<%= f.radio_button :hand_b, 1 %>
			<%= image_tag("r.png", :size => "64x64" ) %>
			</div>
		<% end %>
		<%= f.radio_button :hand_b, 2 %><%= image_tag("s.png", :size => "64x64" ) %>
		<%= f.radio_button :hand_b, 3 %><%= image_tag("p.png", :size => "64x64" ) %>
	</div>




	<div class = "actions", style="clear:both">
		<%= f.submit 'Submit' %>
	</div>

<% end %>
