<%= form_for(scafrock) do |f| %>
  <% if scafrock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scafrock.errors.count, "error") %> prohibited this scafrock from being saved:</h2>

      <ul>
      <% scafrock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
		<%= f.label "#{@label_name}" %>
		<%= f.text_field "name_#{@sw}" %>
  </div>

	<div class="field", style="float:left">
		<%= f.label "Hand for #{@label_name}" %>
		<%= f.radio_button "hand_#{@sw}", 1 %><img onClick="handleImageClick('<%= "#{@sw}_1" %>');" src="<%= asset_path "r.png" %>" width="64" height="64">
		<%= f.radio_button "hand_#{@sw}", 2 %><img onClick="handleImageClick('<%= "#{@sw}_2" %>');" src="<%= asset_path "s.png" %>" width="64" height="64">
		<%= f.radio_button "hand_#{@sw}", 3 %><img onClick="handleImageClick('<%= "#{@sw}_3" %>');" src="<%= asset_path "p.png" %>" width="64" height="64">
	</div>

	<div class = "actions", style="clear:both">
		<%= f.submit 'Submit' %>
	</div>

<script>
    function handleImageClick(id) {

			console.log("I got an event. ", id);
      var el_id = 'scafrock_hand_' + id;
			document.getElementById(el_id).checked=true;
     

		};

</script>

<% end %>
