<p id="notice"><%= notice %></p>

<h1>Scafrocks</h1>

<table>
  <thead>
    <tr>
      <th>Name a</th>
      <th>Name b</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scafrocks.each do |scafrock| %>
      <tr>
        <td><%= scafrock.name_a %></td>
        <td><%= scafrock.name_b %></td>
		<td><%= link_to 'Show', scafrock, player: 1 %></td>
        <td><%= link_to 'Edit', edit_scafrock_path(scafrock) %></td>
        <td><%= link_to 'Destroy', scafrock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scafrock', new_scafrock_path %>
