<p id="notice"><%= notice %></p>

<p>
  <strong>Name a:</strong>
  <%= @scafrock.name_a %>
</p>

<p>
  <strong>Hand a:</strong>
  <%= @scafrock.hand_a %>
</p>

<p>
  <strong>Name b:</strong>
  <%= @scafrock.name_b %>
</p>

<p>
  <strong>Hand b:</strong>
  <%= @scafrock.hand_b %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @winner %>
</p>

<%= link_to 'Edit', edit_scafrock_path(@scafrock) %> |
<%= link_to 'Back', scafrocks_path %>
