<p id="notice"><%= notice %></p>

<p>
  <%= @scafrock.name_a %>
</p>

<p>
	<%= image_tag("#{@img_fname[@scafrock.hand_a]}.png", :size => "64x64" ) %>
</p>

<p>
	<%= @result[@numresult[0]] %>
</p>

<p>
  <%= @scafrock.name_b %>
</p>

<p>
	<%= image_tag("#{@img_fname[@scafrock.hand_b]}.png", :size => "64x64" ) %>
</p>

<p>
	<%= @result[@numresult[1]] %>
</p>


<%= link_to 'Edit', edit_scafrock_path(@scafrock) %> |
<%= link_to 'Back', scafrocks_path %>
